{% extends 'base_with_nav.html' %}
{% block content %}
<div class="row  d-flex justify-content-center text-center">
  <h1 class="col-auto">Song Details</h1>
</div>

<div class="container-song">
  <div class="song_details row  d-flex justify-content-center text-center" style="margin-top: 5%; border-radius: 20%;">
    <nav>
      <a id="music-nav" class="fa fa-arrow-circle-o-left" aria-hidden="true" type=button onClick="javascript:history.go(-1);"></a>
    </nav>
    <div class="music_player">
      <img src="{{song.cover_url}}" class="song-image"> 
      <h1>{{ song.title }}</h1>
      <p>{{ song.createdby }}</p> 
      
      <audio id="song">
        <source src="{{song.song_link}}" type="audio/mp3">
      </audio>

      <input type="range" value="0" id="progress"> 
        <div class="controls">
        <div><i class="fa fa-step-backward" aria-hidden="true" id="previousSong"></i></div>
        <div onclick="playPause()"><i class="fa fa-play-circle" aria-hidden="true" id="playIcon"></i></div>
        <div><i class="fa fa-step-forward" aria-hidden="true" id="nextSong"></i></div>
      </div>
    </div>
  </div>
</div>

<script>
  let progress= document.getElementById("progress");
  let song= document.getElementById("song");
  let playIcon= document.getElementById("playIcon");
  let prevBtn= document.getElementById("previousSong");
  let nextBtn= document.getElementById("nextSong");
  let playList= document.ge

  song.onloadedmetadata= function(){
    progress.max= song.duration;
    progress.value= song.currentTime;
  }

  function playPause(){
    if(playIcon.classList.contains("fa-pause-circle-o")){
      song.pause();
      playIcon.classList.remove("fa-pause-circle-o");
      playIcon.classList.add("fa-play-cirle");
    }
    else{
      song.play();
      playIcon.classList.add("fa-pause-circle-o");
      playIcon.classList.remove("fa-palay-cirle");
    }
  }

  if(song.play()){
    setInterval(()=>{
      progress.value= song.currentTime;
    },500);
  }

  progress.onchange= function(){
    song.play();
    song.currentTime= progress.value;
    playIcon.classList.add("fa-pause-circle-o");
    playIcon.classList.remove("fa-palay-cirle");
  }

  // function prevSong(){

  // }

  // prevBtn.addEventListener('click', prevSong)
  // nextBtn.addEventListener('click', nextSong)

</script> 

<script>
  const musicContainer = document.getElementById('music-container');
  const playBtn = document.getElementById('play');
  const prevBtn = document.getElementById('prev');
  const nextBtn = document.getElementById('next');

  const audio = document.getElementById('audio');
  const title = document.getElementById('title');
  const cover = document.getElementById('cover');


  // Song titles
  const songs = ['hey', 'summer', 'ukulele'];

  // Keep track of song
  let songIndex = 2;

  // Initially load song details into DOM
  loadSong(songs[songIndex]);

  // Update song details
  function loadSong(song) {
    title.innerText = song;
    audio.src = `music/${song}.mp3`;
    cover.src = `images/${song}.jpg`;
  }

  // Play song
  function playSong() {
    musicContainer.classList.add('play');
    playBtn.querySelector('i.fas').classList.remove('fa-play');
    playBtn.querySelector('i.fas').classList.add('fa-pause');

    audio.play();
  }

  // Pause song
  function pauseSong() {
    musicContainer.classList.remove('play');
    playBtn.querySelector('i.fas').classList.add('fa-play');
    playBtn.querySelector('i.fas').classList.remove('fa-pause');

    audio.pause();
  }

  // Previous song
  function prevSong() {
    songIndex--;

    if (songIndex < 0) {
      songIndex = songs.length - 1;
    }

    loadSong(songs[songIndex]);

    playSong();
  }

  // Next song
  function nextSong() {
    songIndex++;

    if (songIndex > songs.length - 1) {
      songIndex = 0;
    }

    loadSong(songs[songIndex]);

    playSong();
  }



  // Change song
  prevBtn.addEventListener('click', prevSong);
  nextBtn.addEventListener('click', nextSong);

</script>

{% endblock %}