{% extends 'base_with_nav.html' %}

{% block content %}
  <h1 class="text-center" style="padding-top: 3%; ">Delete Playlist</h1>

  <h4 class="text-center" style="padding-top: 2%;">Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>

  <form action="" method="POST" class="text-center" style="margin-top: 2%;">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn btn-primary" id='btn-el4'style="width:90px; max-width: 100%; background-color:  red; color: azure; border-radius: 80px; font-weight: bold;  border: solid  red;">
    <a href="{% url 'index' %}" class="btn btn-primary" id ="btn-el"style="width:90px; max-width: 100%; background-color: black; color: azure; border-radius: 80px; font-weight: bold;  border: solid black; 90%;">Cancel</a>
  </form>
{% endblock %}