{% extends 'base_with_nav.html' %}

{% block content %}
  <h1 class="text-center" style="padding-top: 2%;">Delete Test</h1>

  <h4 class="text-center" style="padding-top: 2%;">Are you sure you want to delete the playlist named <span class="teal-text">{{ playlist.title }}</span>?</h4>

  <form action="" method="POST" class="text-center" style="padding-top: 2%;">
    {% csrf_token %}
    <button><input type="submit" value="YES - Delete!" class="btn"></button>
    <button><a href="{% url 'index' %}">NO - Cancel!</a></button>
  </form>
{% endblock %}