{% extends 'base.html' %}
{% block content %}

<h1 class="text-center" style="margin-top: 3%;"> Log in to Audiofy </h1>
<div class="text-center">
    <img src="https://i.imgur.com/vFJscXw.png" class="mx-auto img-fluid" style="max-width: 100px; margin-top: 3%; border-radius: 20px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); margin-bottom: 4%;">
</div>


<div class="container">
    <div class="row  d-flex justify-content-center">
        <form class="col-auto" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
    </div>
    <div class="row  d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="login" style="width:80px; background-color: black; color: azure; border-radius: 80px; font-weight: bold;  border: solid black;">
        <input type="hidden" name="next" value="{{ next }}">
    </div>
    </form>

    <script>
        document.getElementById("id_username").placeholder = "Username";
        document.getElementById("id_password").placeholder = "Password";
        document.getElementById("id_username").style.width = "90%";
        document.getElementById("id_username").style.maxWidth = "90%";
        document.getElementById("id_password").style.width = "90%";
        document.getElementById("id_password").style.margin = "0 auto";
        document.getElementById("id_username").style.margin = "0 auto";
        document.getElementById("id_password").style.marginBottom = "2%";
        document.getElementById("id_password").style.paddingBottom = "2%";
        document.getElementById("id_username").style.paddingBottom = "2%";

    </script>
{% endblock %}