{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Audiofy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>
  <br>
  <h1 class="text-center">Create An Audiofy Account</h1>
  
  <div class="text-center">
    <img src="https://i.imgur.com/M4h8e2a.png" class="mx-auto img-fluid" style="max-width: 100px; margin-top: 20px; border-radius: 20px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); margin-bottom: 20px;">
  </div>
  
  {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
      <form class="text-center" method="post" autocomplete="off" action="{% url 'signup' %}" style="font-size:60%;">
      {% csrf_token %}
      <!-- {{ form.as_p }} -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <label for="firstname" class="form-label" ></label>
            {{form.first_name}}
          </div>
          <div class="col-6">
            <label for="lastname" class="form-label"></label>
            {{form.last_name}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="username" class="form-label"> </label>
            {{form.username}}
          </div>
          <div class="col-6">
            <label for="email" class="form-label"> </label>
            {{form.email}}
          </div>
        <div class="row">
          <div class="col-6">
            <label for="password1" class="form-label"></label>
            {{form.password1}}
          </div>
          <div class="col-6">
            <label for="password2" class="form-label"></label>
            {{form.password2}}
          </div>
        </div>
        <div class="text-center">
          <input type="submit" class="btn" id="btn-el3"value="Sign Up" style="width:80px; background-color:#0077b6; color: azure; border-radius: 80px; font-weight: bold;  border: solid #0077b6;">
        </div>
      </form>
    </div>
  </div>
  </div>
  
  <script>
    document.getElementById("id_first_name").placeholder = "First Name";
    document.getElementById("id_last_name").placeholder = "Last Name";
    document.getElementById("id_username").placeholder = "Username";
    document.getElementById("id_email").placeholder = "Email Address";
    document.getElementById("id_password1").placeholder = "Password (at least 8 characters)";
    document.getElementById("id_password2").placeholder = "Confirm Password";
    btnEl3 = document.getElementById("btn-el3")
    btnEl3.addEventListener('mouseenter', function() {
      btnEl3.style.backgroundColor = 'aqua';
      btnEl3.style.border = 'solid aqua';
      });
      btnEl3.addEventListener('mouseleave', function() {
      btnEl3.style.backgroundColor = '#0077b6';
      btnEl3.style.border = 'solid  #0077b6';
      });
  </script>
    </main>
</body>
</html>