{% extends 'base_with_nav.html' %}
{% block content %}
<div class="row  d-flex justify-content-center text-center">
<h1 class="col-auto">Playlist Details</h1>
</div>
<section>
  <div class="container">
    <div class="card playlist_details" style="width: 60rem;">
      <h3 class="card-title">{{ playlist.title }}</h3>
          <a hhref="{% url 'playlist_update' playlist.id %}">Edit</a>
          <a hhref="{% url 'playlist_delete' playlist.id %}">Delete</a>
        <div class="card playlist_title" >
          {% if playlist.songs.count %}
          {% for song in playlist.songs.all %}
            <div class="card-body song">
              <a href="{% url 'song_detail' song.id %}">
                  <h1>{{ song.title }} by {{ song.createdby }}</h1>
                <div class="card-action">
                  <form action="{% url 'unassoc_song' playlist.id song.id %}" method="post">
                      {% csrf_token %}
                    <button type="submit" class="btn">Remove Song</button>
                  </form>
                </div>
              </a>
            </div>
          {% endfor %}
          {% endif %}
        </div>
    </div>
  </div>
</section>


{% endblock %}