{% extends 'base_with_nav.html' %}
{% block content %}
<br>
<div class="text-center">
  <h1>Welcome, {{ username }}.</h1>
</div>
<br><br>
<div class="container">
  <div class="row  d-flex justify-content-center">
    <h1 class="col-auto">Your Playlists:</h1>
  </div>
<br><br>
<div class="row  d-flex justify-content-center">
  <h1 class="col-auto">Others Playlists:</h1>
</div>
{% for playlist in playlists %}
  <a href="{% url 'playlist_detail' playlist.id %}">
    <div class="card">
        <h1><span class="card-title">{{ playlist.title }}</span></h1>
    </div>
  </a>
{% endfor %}

{% endblock %}
</div>