{% extends 'base.html' %}
{% block content %}

<h1>Song Detail</h1>


<div>
    <div class="song_details">
        <div class="music_player">
        <nav>
          <div class="circle">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
        </nav>
        <img src="" class="song-image"> 
        <h1>Song Title</h1>
        <p>Artisit Name</p>
      
        <audio id="song">
          <source src="" type="audio">
        </audio>
        <input type="range" value="0" id="progress">
        <div class="controls">
          <div><i class="fa fa-step-backward" aria-hidden="true"></i></div>
          <div><i class="fa fa-play-circle" aria-hidden="true"></i></div>
          <div><i class="fa fa-step-forward" aria-hidden="true"></i></div>
        </div>
        </div>
      </div>
</div>

{% endblock %}