{% extends 'base.html' %}
{% block content %}
<div class="text-center" id="mainlogo">
    <img src="https://i.imgur.com/X4HO4iV.png" class="mx-auto img-fluid">
</div>
<br>
<div class="container" id = "login_singup_button">
    <div class="row  d-flex justify-content-center">
        <div class="col-auto mr-3">
            <a href=" {% url 'login' %}"  class="btn btn-primary">Log in</a>
        </div>
        <div class="col-auto ml-3">
            <a href=" {% url 'signup' %}"  class="btn btn-primary">Sign Up</a>
        </div>        
    </div>
</div>
{% endblock %}