body {
    background: linear-gradient(to right,  #099CAB,#1EA69C, #77D55B);
    height: 100vh;
    background-attachment: fixed;
    color: black;
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
}

.side-navbar {
    background-color: grey; 
    position: fixed; 
    width: 15%; 
    max-width: 80px; 
    min-width: 70px;
    height: 100%; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 30px; 
    max-width: 30px; 
    text-align: center; 
    margin-left: 25px; 
    margin-top: 10px; 
    border-radius: 12px;
}

#id_username {
    width: 150px;
}

#id_password {
    width: 156px;
}

#hover-nav:hover {
    scale: 106%;
    font-weight: bold;
}

#hover-nav {
    text-decoration: none; 
    color: black; 
    font-size: 14px; 
    text-align: center;
}

#username {
    color: black; 
    margin-top: 120%; 
    text-align: center; 
    font-size: 13px; 
    height: 0.0001vh;
}

#logout {
    width:40px; 
    background-color: black; 
    color: azure; 
    border-radius: 60px; 
    border: solid black; 
    font-size: 12px; 
    text-decoration: none; 
    margin-left: 20px;
}

#login_singup_button {
    width:90px; 
    max-width: 100%; 
    background-color: black; 
    color: azure; 
    border-radius: 80px; 
    font-weight: bold; 
    border: solid black;
}

#mainlogo {
    max-width: 500px; 
    margin-top: 80px; 
    border-radius: 20px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#id_first_name {
    width: 65%;
    margin-left: 50%;
    margin-bottom: 5%;
    max-width: 147px;
}
#id_username {
    width: 65%;
    margin-left: 50%;
    margin-bottom: 5%;
    max-width: 147px;
}
#id_password1 {
    width: 68%;
    margin-left: 55%;
    max-width: 147px;
}
#id_last_name {
    width: 70%;
    max-width: 147px;
    margin-right: 47%;
}
#id_email {
    width: 70%;
    max-width: 147px;
    margin-right: 47%;

}
#id_password2 {
    width: 80%;
    margin-right: 38%;
    margin-bottom: 10%;
    max-width: 147px;
}

label {
    display: none;
}

/* styling for playlist detail page */
.playlist-title {
    background: rgb(243, 249, 234);
    color: black;
    display: inline-block;
    box-shadow: 0px 0px 80px #099CAB;
    padding: 1rem 1rem;
    padding-right: 20px;
}
.playlist-songs {
    color: black; 
    margin-bottom: 2%; 
    background: rgb(243, 249, 234); 
    width:100%; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.delete-song button {
    font-size: 50px;
}

/* styling for the song_details page */
.container-song {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music_player {
    background-color: rgb(240, 249, 226);
    box-shadow: 0px 0px 100px greenyellow;
    width: 400px;
    padding: 40px 40px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.song-image {
    width: 220px;
    box-shadow: 0px 10px 60px black;
}
.music_player h1{
    font-size: 40px;
    font-weight: 400;
    color: black;
    margin-top: 20px;
}
.music_player p {
    font-size: 14px;
    color: grey;
}
#progress {
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px 0;
}
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div {
    width: 60px;
    margin: 10px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    font-size: 30px;
}
.controls div:nth-child(2) {
    transform: scale(2.0);
}