body {
    background: linear-gradient(to right, #008080, #3E9A44, #98FB98);
}

#id_username {
    width: 150px;
}

#id_password {
    width: 156px;
}

#hover-nav:hover {
    font-weight: bold;
    font-size: 100%;
}